@using System.Diagnostics.Eventing.Reader
@model IEnumerable<Vidly.Models.Customeer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>
<br/>

@Html.ActionLink("New Customer" , "New" ,"Customer" ,new{@class="btn btn-primary"})

 <br/> <br/>

<table class="table table-bordered table-hover" id="customers">
    <thead>
        <tr>
            <th>Customers</th>
            <th>MemberShipType</th>
            <th> Delete </th>
        </tr>
    </thead>
    
</table>



@section scripts
{
    <script >


        $(document).ready(function () {

           var table =  $("#customers").DataTable({

                ajax: {

                    url: "/api/Customer/",
                    dataSrc :""
                },
                columns: [

                    {
                        data: "name",
                        render: function (data , type ,customer) {

                            return "<a href ='/Customer/edit/"+customer.id +"'>" + customer.name+ "</a>";
                        }
                    },
                    {
                        data: "memberShipType.name"

                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + " >Delete</button>";

                        }
                    }
                    

                ]



            });
            $("#customers").on("click",".js-delete", function () {
                var button = $(this)
                bootbox.confirm("Are you sure to delete ths customer?", function (result) {

                    if (result) {

                        $.ajax({
                            url: "/api/Customer/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                                

                            }

                        });
                    }

                }); 
                   
                
            });
        });



        
    </script>

    }

